.slick-slider>ul {
    width: 125px!important;
    margin-left: 125px!important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    font-size: inherit;
    color: currentColor;
}
.ant-carousel .slick-dots li.slick-active button {
    background: #000;
    opacity: 1;
}
.ant-carousel .slick-dots li button{
    background: #000;
}
