@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /*  全局背景色*/
    .bg-bgGreen {
        --darkreader-bg--tw-bg-opacity: 1;
        background-color: rgb(27, 43, 0);
        overflow: hidden;
    }

    .text-secGreen {
        --darkreader-text--tw-text-opacity: 1;
        color: rgb(123, 194, 150);
    }

    .border-secGreen {
        --darkreader-border--tw-border-opacity: 1;
        border-color: rgb(50, 109, 72);
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    body::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /*book now */
    .button:before {
        content: '';
        position: absolute;
        margin-top: -8.5px;
        margin-left: -23px;
        background-color: #377658;
        z-index: -1;
        width: inherit;
        height: inherit;
    }

    /*    learn more*/
    .button-learn:before {
        background-color: #1b2b00;
        margin-left: -6px;
        margin-top: -6px;
    }



}